.ipynb_checkpints/
model/experiments/
solarsat/__pycache__/
model/cuboid_transformer/__pycache__/
model/cuboid_transformer/.ipynb_checkpints/
model/cuboid_transformer/experiments/
model/cuboid_transformer/earthformer/__pycache__/
model/ConvLSTM-PyTorch/__pycache__/
model/ConvLSTM-PyTorch/.ipynb_checkpints/
model/ConvLSTM-PyTorch/data/__pycache__/
model/ConvLSTM-PyTorch/runs/
model/ConvLSTM-PyTorch/save_model/
testing/test1/
testing/test2/
training/__pycache__/
results/
runs/
testing/
training/
tf_checkpoints/
exp_4castnet/
if_checkpoints/
if_long_checkpoints/
prediction_earthformer/
convlstm_save_model/
model/FourCastNet/
model/Informer/data/
model/Informer/img/
model/Informer/
model/cuboid_transformer/datasets/
